@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family:var(--font);
    font-size: 4em;
}

.display {
    border: 1px solid black;
    border-radius: 5%;
    padding: 5px 20px;
}

.btn {
    padding:15px;
    border-radius: 5%;
    margin: 20px;
    font-size: 2rem;
    cursor: pointer;
    font-family: var(--font);
    background-color: rgba(255, 145, 0, .6);
    border: 2px solid black;
}

